@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #727b7d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background:#692035;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
}

.TodoForm {
  width: 100%;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #14143d;
  border-radius: 5px 0 0 5px;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #fff;
  
}

.todo-input::placeholder {
  color: #ffffff4d;
}

.todo-btn {
  background: #14143d;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
  
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #14143d;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;
  max-width: 500px;
  word-break: break-all;
  text-align: start;
}

.fa-trash, .fa-edit {
  margin-left: 0.75rem;
}



.completed {
  color: rgb(205, 173, 173);
  text-decoration: line-through;
}
